body{
    margin: 0;
    font-family: "Poppins", sans-serif;

}

nav{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    max-width: 100%;
    width: 100%;
}

.logo_Inicio{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.logo_Inicio span{
    color: rgb(201, 146, 44);
    font-size: 25px;
    font-weight: bold;
}