@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --azul-principal: #167CBF
}

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgba(237, 238, 238, 0.233);
    color: black;
    font-size: 30;
}


header {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    width: 100%;
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222f75;
    position: fixed;
}

#nome-logo {
    font-weight: bolder;
    font-size: 26px;
}

span {
    font-weight: 900;
    font-size: 25px;
    color: rgba(250, 171, 0, 0.89);
    font-weight: bolder;
}

#Troque_Livros_Inicio{
    color: #F4B400;
}

a {
    color: #0c0c0c;
}

nav {
    margin-right: 50px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

#nome-logo {
    margin: 50px;
    gap: 50px;
    color: #000000;
}

.menu {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    padding: 5px;
    color: rgb(19, 19, 78);
    transition: 0.5s;
    font-display: swap;
    font-weight: bold;
}

.menu:hover {
    color: rgba(255, 245, 245, 0.89);
    background-color: rgba(16, 36, 71, 0.89);
    border-radius: 4px;
    border: 2px solid;
    box-shadow: 2px 2px 2px 2px rgb(110, 144, 172);
    transform: translateY(-2px);
    

}

#Troque_Livros_Inicio{}

.banner-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #050404(100, 92, 92);
    height: 65vh;
    font-size: 20px;
    background-image: url(img/fundo_Banner_Principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.texto_Banner{
    margin-left: 10vw;
    width: 40vw;
}

#Frase_Impacto{
    margin-bottom: 35px;
    font-size: 45px;
}

#Frase_Inicio{
    
    padding: 0;
}

#historias{
    font-size: 50px;
}
/*background-color:#21667a;*/

h1 {
    color: #000000;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 25px;
}

p {
    color: #000000;
    margin-bottom: 40px;
    font-size: 25px;

}

#btn-ver-livros {
    color: rgba(250, 171, 0, 0.89);
    transition: 0.2s;
}

#btn-ver-livros:hover {

    background-color: #13182c;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}


.book {
    color: rgba(250, 171, 0, 0.89);
    font-size: 35px;
}

.grade-livros {
    display: flex;
    padding: 25px;
    

}


.Autor_Livro {
    color: #000000;
    font-size: medium;
}

/*.card-livro{
    width: 300px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0px 0px 10px var rgb(120, 120, 122);
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    
}*/


.card-livro {
    
    display: inline-block;
    width: 12vw;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 0px 10px var rgb(120, 120, 122);
    overflow: Hidden;
    margin-left: 60px;
    margin-right: 20px;
}

.info-livro{
    justify-content: end;
}


.btn_Encontro {
    margin-top: auto;
    width: 200px;
    height: 40px;
    background-color: #F4B400;
    border-radius: 10px;
    transition: 2s;
    color: #ffffff;
    text-decoration: none;
    justify-content: flex-start;
    transition: 0.3s;
    font-weight: 400;

    
}

.apresentacao_Encontros {
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 20px;

}

.titulo_Encontros {
    border-left: 4px solid #F4B400;
    text-align: left;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 135px;
}

.book_baixo{
    width: 200px;
    font-size: 35px;
    font-weight: 900;
    
}

.chamada_Acao {
    color: #727272;
    font-size: 17px;
    margin: 0;
}

.foto-livro {
    max-width: 195px;
}


.ajuda {
    /*background: linear-gradient(rgb(218, 218, 218),rgba(7, 28, 51, 0.233));*/
    padding: 60px;
}

.ajuda h2 {
    color: #F4B400;
    text-align: center;
    margin-bottom: 40px;
    
}

#como_Funciona {
    font-size: bold;
    color: #ffffff;
    background-color: #13182c;
    text-align: center;
}

.todos-passos {
    
    display: flex;
    justify-content: center;
    max-width: 85vw;
    margin: 0 auto;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    
}

.passo{
    width: 25vw;
    padding: 20px;
    
}

.passo_Instrucao{
    font-weight: bolder;
    font-size: 30px;
}

.numero-passo{
    font-size: 40px;
}

.logo{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    max-width: 85vw;  
}

#book2{
    font-size: 35px;
    font-weight: bolder;
    color: #F4B400; 
    
}

#frase_Final_footer{
    text-align: center;
    background-color: #13182c;
    color: #ffffff;
}
.footer_Pagina{
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #13182c;
    color: #ffffff;
}

.footer-container{
    display: flex;
    max-width: 85vw;
    justify-content: space-between;
    gap: 20vw ;
    
   
}
.footer-container{
    color: #F4B400;
}


.footer-coluna{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: #F4B400;
    
}
.footer-coluna ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}
.footer-social{
    color: #F4B400;
}
.footer-social-link{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap:10px;
    text-decoration: none;
    margin-top: 15px;
   
}

.footer-Navegacao{
    color: #e2e2e2;
}

.footer-nav-link{
 color: #ffffff;
 text-decoration: none;
}

.footer-copy{
    margin-top: 30px;
    color: #ecdd07;
}