@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
:root{
    --azul-principal:#167CBF
    
}
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
body  {
    background-color: rgba(237, 238, 238, 0.233);
    color: black;
    font-size: 30;
}
 
 
header{
   
    margin: 0;
    padding: 0;
   
    background-color:#f2f2f2;
    width: 100%;
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222f75;
}
#nome-logo{
    font-weight: 900;
    font-size: 25px;
}
span{
    font-weight: 900;
    font-size: 25px;
    color: rgba(250, 171, 0, 0.89);
}
 
a {
    color: #0c0c0c;
}
nav{
    margin-right: 50px;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
       #nome-logo{
         margin:50px;
         gap:50px ;
       }
.menu{
    display: inline-block;
    font-size: large;
    text-decoration: none;
    padding: 5px;
    color: rgb(19, 19, 78);
    transition: 0.3s;
    font-display: swap;
    font-weight: bold;
}
.menu:hover{
   color: rgba(255, 245, 245, 0.89);
    transform: scale(1.6);
    background-color: rgba(16, 36, 71, 0.89);
    border-radius: 4px;
    border: 2px solid;
    box-shadow: 2px 2px 2px 2px rgb(110, 144, 172);
    
}
.banner-principal{
    text-align: center;
    padding: 30px 200px;
    background-image: url(image_fundo.png);
    background-color: #10142b;
    color: #fffdfd(100, 92, 92);
    height: 40vh;
    font-size: 20px;
}

/*background-color:#21667a;*/

h1 {
    color: #dfdfdf;
padding-bottom: 50px;
padding-top: 50px;
font-size: 25px;
}
 
p{
    color: #dfdfdf;
    margin-bottom: 40px;
    font-size: 25px;
   
}
 
#btn-ver-livros{
    color: rgba(250, 171, 0, 0.89);
    transition:0.2s;
}
#btn-ver-livros:hover{
    
    background-color: #f2f2f2;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px ;
    margin:10px ;
}


.book{
     color: rgba(250, 171, 0, 0.89);
     font-size: 35px;
}
 
.grade-livros{
    display: flex;
    padding: 25px;
    background-color: #727272;
    
}


.Autor_Livro{
    color: #000000;
  font-size: medium;
}

.card-livro{
    width: 300px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0px 0px 10px var rgb(120, 120, 122);
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    
}


.btn_Encontro{
    background-color: #dfdfdf;
    border-radius: 10px;
    transition: 2s;
}

.apresentacao_Encontros{
    display: flex;
    padding:  40px;
    align-items: center;
    gap: 20px;
    
}
.titulo_Encontros{
    border-left: 4px solid #F4B400;
    text-align: left;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 135px;
}

.chamada_Acao{
    color:#727272;
    font-size: 17px;
    margin: 0;
}

.foto-livro{
    max-width: 195px;
}

