*{
    margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body{
    
}

main{
    margin: 20px auto;
    width: 75vw;
    text-align: center;
    
}

h2{
    background-color: rgb(224, 176, 19);
    border-radius: 3px;
    padding: 3px;
    font-weight: 18px;
    margin: 20px;
    font-size: 18px;

}

#caixa{
    width: 400px;
    height: 101px;
    background-color: rgb(12, 61, 61);
    color: aliceblue;
    font-weight: bold;
    margin: 20px auto ;
}

.btn{
    padding: 5px 10px;
    margin-right: 12px;
}

.area_add_sub{
    display: flex;
    justify-content: center;
    gap: 7px;
    font-size: 25px;
    align-items: center;
    
}

.area_add_sub button{
    padding: 8px 12px ;
    background-color: darkred;
    color: aliceblue;
    border: 1px solid;
    font-size: 20px

}

.area_add_sub button:hover{
    background-color: rgb(211, 111, 111);
    transition: 2s;
}

ul{
    width: 400px;
    margin: 0 auto;
    
}

li{
    list-style: none;
    background-color: blanchedalmond;
    padding:  0px 100px;
    margin: 0 auto;

}